/* Import the font I want to use from my design system */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	border: 3px solid red;
}

/* Non-root styling */

.fontGeneral {
	font-family: "Roboto", sans-serif;
}

.navContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	border: 3px solid pink;
}

.navBarList {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	width: 60%;
	border: 3px solid blue;
	list-style: none;
}

.navBarGit {
	width: 20%;
	text-align: center;
}

.navBarLinkedIn {
	width: 20%;
	text-align: center;
}

.navBarLinks {
	color: #000000;
	text-decoration: none;
}

.sideNavBarLinks {
	color: #000000;
	text-decoration: none;
}
