.root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	border: 3px solid red;
}

/* Non-root styling */

.navContainer {
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
}

.navBarList {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	border: 3px solid blue;
}

.navBarGit {
	width: 20%;
	border: 3px solid purple;
}

.navBarLinkedIn {
	width: 100%;
	border: 3px solid pink;
}
