p {
	color: maroon;
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

p:hover {
	border-bottom: 3px solid maroon;
	cursor: pointer;
}

h1 {
	color: maroon;
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid maroon;
	width: 50%;
	height: 50%;
	position: absolute;
	z-index: 1;
	left: 25%;
	right: 25%;
	box-shadow: 5px 5px 30px black;
	background-color: white;
}

.otherDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	width: 50%;
	height: 50%;
	position: absolute;
	z-index: 0;
	left: 30%;
	right: 20%;
	top: 10%;
	box-shadow: none;
	border: none;
}

#idStyle {
	color: rgb(77, 0, 0);
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

#idStyle:hover {
	border-bottom: 3px solid rgb(77, 0, 0);
	cursor: pointer;
}

.classStyle {
	color: rgb(197, 0, 0);
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.classStyle:hover {
	border-bottom: 3px solid rgb(197, 0, 0);
	cursor: pointer;
}
